In [1]:
import pandas as pd

In [2]:
# using pandas we will read data in python
data= pd.read_excel("InRisk_Labs_Assignment.xlsx")
data.head()

     Region       Date  Rainfall_mm
0  Region_A 2024-01-01        4.965
1  Region_A 2024-01-02       27.729
2  Region_A 2024-01-03       12.881
3  Region_A 2024-01-04       32.818
4  Region_A 2024-01-05       36.127

In [8]:
# Handling anomalies and outliers
# There are some negative values and some extreme positive values which are no possible.


x=data.Rainfall_mm[(data.Rainfall_mm<0) | (data.Rainfall_mm>5000)]
y=x.tolist()
print(y)

# We are replacing such values with zero(0)
data.replace(y,0,inplace=True)

[-63.016999999999996, -21.957, 1843648546.3]

In [9]:
# Now we will create a separate dataset for all the days with excess rainfall

excess_data= data[data.Rainfall_mm>60]
excess_data.head()

      Region       Date  Rainfall_mm
5   Region_A 2024-01-06       67.575
11  Region_A 2024-01-12       67.890
12  Region_A 2024-01-13       75.535
13  Region_A 2024-01-14       70.623
14  Region_A 2024-01-15       74.195

In [10]:
# Creating a dataset for unique regions

region= excess_data['Region'].unique()
region

array(['Region_A', 'Region_B', 'Region_C', 'Region_D', 'Region_E'],
      dtype=object)

In [13]:
# Now we will count number of days with excess rainfall in each region
excess_rainfall_days=[]

for i in region:
    excess_rainfall_days.append(len(excess_data[excess_data.Region==i]))

excess_rainfall_days

[36, 37, 43, 35, 31]

In [14]:
# Now we will calculate claim amount basis data given

Claim_amount=[]

for i in excess_rainfall_days:
    
    amount=0
    if i<=10:
        pass
    elif 10<i<=30:
        amount= 100*(i-10)
    elif 30<i<50:
        amount=200*(i-30)+100*20
    else:
        amount= 300*(i-50)+200*20+100*20
    Claim_amount.append(amount)
    
Claim_amount

[3200, 3400, 4600, 3000, 2200]

In [15]:
# Represnting region, excess rainfall days and cliam amount in a separate table

Claim_cal= pd.DataFrame({'Region':region, 'Days of excess rainfall': excess_rainfall_days,'Claim amount': Claim_amount})

Claim_cal

     Region  Days of excess rainfall  Claim amount
0  Region_A                       36          3200
1  Region_B                       37          3400
2  Region_C                       43          4600
3  Region_D                       35          3000
4  Region_E                       31          2200

In [16]:
# Converting final output to excel sheet

Claim_cal.to_excel("Claim_cal.xlsx", index=False)